<html>
<style>
    p { font-family: DejaVu Sans, sans-serif; }
</style>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_004{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_004{font-family:"Calibri Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_005{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_005{font-family:"Calibri Bold",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_006{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_006{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_007{font-family:Arial,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_008{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_009{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_009{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_018{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
        div.cls_018{font-family:Arial,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_019{font-family:Arial,serif;font-size:22.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
        div.cls_019{font-family:Arial,serif;font-size:22.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_013{font-family:"Calibri",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_013{font-family:"Calibri",serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_014{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_014{font-family:Times,serif;font-size:14.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        span.cls_015{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        div.cls_015{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(255,0,0);font-weight:bold;font-style:normal;text-decoration: none}
        span.cls_017{font-family:"Yu Mincho Regular",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        div.cls_017{font-family:"Yu Mincho Regular",serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
        -->
    </style>
    <script type="text/javascript" src="d6dcadca-1701-11ec-a980-0cc47a792c0a_id_d6dcadca-1701-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

p>
الرباط في<strong> :10/10/2018</strong>
</p>
<p align="right">
    <strong></strong>
</p>
<p align="right">
    <strong>{{nom}}</strong>
    <strong>:</strong>
    <strong><u>مرجعــــــــــي</u></strong>
    <strong><u></u></strong>
</p>
<p align="center">
    <strong><u>رسالــة إنــــذار</u></strong>
    <strong><u></u></strong>
</p>
<p align="right">سيــــــــدي (تي)،</p>
<p align="left">نعلمكم أننا تسلمنا من طرف مؤسسة</p>
<p align="right">
    ملف الدين الذي تخلفتم عن أداء أقساطه</p>
<p align="right">
    وانه تخلد بذمتكم مبلغ ......</p>
<p align="right">
    لذا فإننا ننذركم بضرورة الاتصال بالرقم التالي:
</p>

<p align="right">

</p>
<p align="center">
    <strong>06 </strong>
    <strong>61</strong>
    <strong> </strong>
    <strong>72</strong>
    <strong> </strong>
    <strong>02</strong>
    <strong> </strong>
    <strong>11</strong>

</p>
<p dir="RTL">
    لتؤذوا مبلغ الدين المذكور أعلاه فور توصلكم بهذا الإنذار.
</p>
<p dir="RTL">
    وهذا، وفي حالة عدم استجابتكم، ستحملون التبعات والنتائج الناجمة عن تنفيذ
    الحكم.
</p>
<p align="right">
    في حالة تسوية وضعيتكم إزاء موكلتنا، نلتمس منكم أن توافونا بوصل الأداء.
</p>
<p align="right">
    وتقبلوا سيــــــــدي (تي)، أسمى عبارات التقدير والاحترام.
</p>

<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
        <img src="d6dcadca-1701-11ec-a980-0cc47a792c0a_id_d6dcadca-1701-11ec-a980-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
    <div style="position:absolute;left:308.33px;top:153.18px" class="cls_004"><span class="cls_004">«Nom_Client» «Prénom_Client»</span></div>
    <div style="position:absolute;left:56.64px;top:156.78px" class="cls_005"><span class="cls_005">2018</span><span class="cls_006">/</span><span class="cls_005">10</span><span class="cls_006">/</span><span class="cls_005">10</span><span class="cls_006">: </span><span class="cls_007">ي فطΎبرلا</span></div>
    <div style="position:absolute;left:342.07px;top:210.06px" class="cls_008"><span class="cls_008">«Numéro_Contrat»:</span><span class="cls_009"> </span><span class="cls_018">يــــــــــعجرم</span></div>
    <div style="position:absolute;left:238.48px;top:238.02px" class="cls_019"><span class="cls_019">راذــــنإ ةــلΎسر</span></div>
    <div style="position:absolute;left:456.22px;top:274.05px" class="cls_013"><span class="cls_013">)</span><span class="cls_007">يت</span><span class="cls_013">Ϳ </span><span class="cls_007">يدــــــــϳس</span></div>
    <div style="position:absolute;left:451.90px;top:274.05px" class="cls_007"><span class="cls_007">،</span></div>
    <div style="position:absolute;left:87.50px;top:313.29px" class="cls_014"><span class="cls_014">.هطاδقأ ءادأ نع مΘϔلخت يذϟا نيدϟا فلϣ</span></div>
    <div style="position:absolute;left:369.43px;top:313.29px" class="cls_014"><span class="cls_014">ةδسؤϣ</span></div>
    <div style="position:absolute;left:404.58px;top:313.29px" class="cls_014"><span class="cls_014">فرط</span></div>
    <div style="position:absolute;left:434.11px;top:313.29px" class="cls_014"><span class="cls_014">نϣ انملδت انϧأ م</span></div>
    <div style="position:absolute;left:501.22px;top:313.29px" class="cls_014"><span class="cls_014">كملόϧ</span></div>
    <div style="position:absolute;left:434.38px;top:339.45px" class="cls_014"><span class="cls_014">غلبϣ مكΘϣ</span><span class="cls_007">ذب دلخت هناو</span></div>
    <div style="position:absolute;left:85.13px;top:365.49px" class="cls_014"><span class="cls_014">ىلع فلمϟا ةϟاحإب ةΤيرص تامϴلόت انϴϘلت دϘف</span></div>
    <div style="position:absolute;left:279.77px;top:365.49px" class="cls_014"><span class="cls_014">،يبح لكشب ءادلϟ مكϟ بورضمϟا لجلا رورϣ دόبو ،اذϫ</span></div>
    <div style="position:absolute;left:334.38px;top:381.57px" class="cls_014"><span class="cls_014">.مكΘهجاوϣ</span></div>
    <div style="position:absolute;left:382.63px;top:381.57px" class="cls_014"><span class="cls_014">يف تاءارجϹا داختا دμق ءاضϘϟا</span></div>
    <div style="position:absolute;left:302.32px;top:433.79px" class="cls_014"><span class="cls_014">:يϟاΘϟا</span></div>
    <div style="position:absolute;left:333.31px;top:433.79px" class="cls_014"><span class="cls_014">مقرϟاب لاμتلا ةرورضب مكرذنϧ انϧإف اذ˰˰˰˰˰˰˰ϟ</span></div>
    <div style="position:absolute;left:238.13px;top:460.07px" class="cls_015"><span class="cls_015">06 61 72 02 11</span></div>
    <div style="position:absolute;left:277.41px;top:491.99px" class="cls_014"><span class="cls_014">.راذϧϹا اذهب مكلصوت روف هϼعأ روكذمϟا نيدϟا غلبϣ اوذؤΘϟ</span></div>
    <div style="position:absolute;left:169.82px;top:520.55px" class="cls_014"><span class="cls_014">.مكΤϟا ذϴϔنت نع ةمجانϟا جئاΘنϟاو تاόبΘϟا نولمΤΘس ،مكΘباΠΘسا مدع ةϟاح يفو ،اذϫو</span></div>
    <div style="position:absolute;left:198.17px;top:548.87px" class="cls_014"><span class="cls_014">.ءادلا لصوب اϧوفاوت نأ مكنϣ سمΘلϧ ،انΘلكوϣ ءازإ مكΘϴόضو ةيوδت ةϟاح يف</span></div>
    <div style="position:absolute;left:275.57px;top:602.51px" class="cls_014"><span class="cls_014">.</span><span class="cls_007">مارتحلاو</span><span class="cls_013"> </span><span class="cls_007">رϳدقتلا</span></div>
    <div style="position:absolute;left:355.02px;top:602.51px" class="cls_007"><span class="cls_007">تارΎبع</span></div>
    <div style="position:absolute;left:392.11px;top:602.51px" class="cls_007"><span class="cls_007">ىمسأ</span><span class="cls_013"> </span><span class="cls_007">،</span><span class="cls_013">)</span><span class="cls_007">يت</span><span class="cls_013">Ϳ </span><span class="cls_007">يدــــــــϳس اولبقتو</span></div>
    <div style="position:absolute;left:75.14px;top:770.06px" class="cls_017"><span class="cls_017">SARL au Capital de 100 000 DHS Immeuble Abroun Angle Avenue Fal Ould Oumeir et Rue Oued Beth B/32 AGDAL - RABAT - MAROC.</span></div>
    <div style="position:absolute;left:107.54px;top:781.82px" class="cls_017"><span class="cls_017">TEL : 05 38 00 86 24 FAX : 05 38 00 86 01 N° de Patente : 25711717. RC : 123017 CNSS : 9836688   IF : 20731006</span></div>
</div>

</body>
</html>
