<html lang="ar" dir="rtl">
 <style>
    *{ font-family: DejaVu Sans !important;}
  </style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=Generator content="Microsoft Word 15 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"\@Arial Unicode MS";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-size:10.0pt;
	font-family:"Calibri",sans-serif;}
 /* Page Definitions */
 @page WordSection1
	{size:595.3pt 841.9pt;
	margin:28.35pt 68.05pt 28.35pt 28.35pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1>

<p class=MsoNormal align=right style='text-align:right'><span lang=FR
style='font-size:12.0pt;line-height:115%;font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span lang=FR style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><span lang=FR style='font-size:12.0pt;line-height:115%;
font-family:"Arial",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal><img width=324 height=37
src="courrier%20SOFAC_fichiers/image001.png" align=left hspace=12 vspace=5
alt="«Nom_Client» «Prénom_Client»"></p>

<p class=MsoNormal style='margin-left:163.0pt;text-indent:-163.0pt'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif'>&#1575;&#1604;&#1585;&#1576;&#1575;&#1591;&nbsp;&#1601;&#1610;</span><b><span
lang=AR-MA dir=RTL style='font-size:14.0pt;line-height:115%;font-family:"Arial",sans-serif'>
:10/10/2018</span></b></p>

<p class=MsoNormal align=right style='margin-left:411.1pt;text-align:right;
text-indent:-163.0pt;line-height:normal'><b><span lang=FR style='font-size:
12.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></b></p>

<p class=MsoNormal align=right style='margin-left:411.1pt;text-align:right;
text-indent:-163.0pt;line-height:normal'><b><span
lang=FR style='font-size:12.0pt;font-family:"Arial",sans-serif'>«Numéro_Contrat»</span></b><b><span
lang=FR style='font-size:12.0pt;font-family:"Arial",sans-serif'>:</span></b><span
lang=FR style='font-size:16.0pt;font-family:"Arial",sans-serif'>&nbsp;</span><b><u><span
lang=AR-MA dir=RTL style='font-size:16.0pt;font-family:"Arial",sans-serif'>&#1605;&#1585;&#1580;&#1593;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1610;</span></u></b></p>

<p class=MsoNormal align=center style='text-align:center;line-height:normal'><b><u><span
lang=AR-MA dir=RTL style='font-size:22.0pt;font-family:"Arial",sans-serif'>&#1585;&#1587;&#1575;&#1604;&#1600;&#1600;&#1577;
&#1573;&#1606;&#1600;&#1600;&#1600;&#1600;&#1584;&#1575;&#1585;</span></u></b></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1587;&#1610;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1583;&#1610;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> (</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1578;&#1610;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'>)</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1548;</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1606;&#1593;&#1604;&#1605;&#1603;</span><span
lang=tzm-Arab-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1605;
&#1571;</span><span lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:
"Times New Roman",serif'>&#1606;&#1606;&#1575; &#1578;&#1587;&#1604;&#1605;&#1606;&#1575;
&#1605;&#1606; &#1591;&#1585;&#1601; &#1605;&#1572;&#1587;&#1587;&#1577;   </span><b><span
lang=AR-MA style='font-size:14.0pt'><img width=127 height=33 id="Image 7"
src="courrier%20SOFAC_fichiers/image002.jpg"></span></b><span dir=RTL></span><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'><span
dir=RTL></span> &#1605;&#1604;&#1601;</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Times New Roman",serif'> &#1575;&#1604;&#1583;&#1610;&#1606;
&#1575;&#1604;&#1584;&#1610; &#1578;&#1582;&#1604;&#1601;&#1578;&#1605; &#1593;&#1606;
&#1571;&#1583;&#1575;&#1569; &#1571;&#1602;&#1587;&#1575;&#1591;&#1607;.</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1575;&#1606;&#1607;
&#1578;&#1582;&#1604;&#1583; &#1576;&#1584;</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1605;&#1578;&#1603;&#1605;
&#1605;&#1576;&#1604;&#1594; </span><span lang=tzm-Arab-MA dir=RTL
style='font-size:14.0pt;font-family:"Times New Roman",serif'>......</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'> </span><span
dir=LTR></span><span lang=FR style='font-size:14.0pt'><span dir=LTR></span>  </span><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1607;&#1584;&#1575;&#1548;
&#1608;&#1576;&#1593;&#1583; &#1605;&#1585;&#1608;&#1585;
&#1575;&#1604;&#1571;&#1580;&#1604;
&#1575;&#1604;&#1605;&#1590;&#1585;&#1608;&#1576; &#1604;&#1603;&#1605;
&#1604;&#1604;&#1571;&#1583;&#1575;&#1569; &#1576;&#1588;&#1603;&#1604;
&#1581;&#1576;&#1610;&#1548; &#1601;&#1602;&#1583;
&#1578;&#1604;&#1602;&#1610;&#1606;&#1575;
&#1578;&#1593;&#1604;&#1610;&#1605;&#1575;&#1578;
&#1589;&#1585;&#1610;&#1581;&#1577; &#1576;&#1573;&#1581;&#1575;&#1604;&#1577;
&#1575;&#1604;&#1605;&#1604;&#1601; &#1593;&#1604;&#1609; &#1575;&#1604;&#1602;&#1590;&#1575;&#1569;
&#1602;&#1589;&#1583; &#1575;&#1578;&#1582;&#1575;&#1583; &#1575;&#1604;&#1573;&#1580;&#1585;&#1575;&#1569;&#1575;&#1578;
&#1601;&#1610; &#1605;&#1608;&#1575;&#1580;&#1607;&#1578;&#1603;&#1605;.</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&nbsp;</span></p>

<p class=MsoNormal align=right style='margin-left:35.45pt;text-align:right;
text-indent:-35.45pt;line-height:normal'><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1604;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1584;&#1575;
&#1601;&#1573;&#1606;&#1606;&#1575; &#1606;&#1606;&#1584;&#1585;&#1603;&#1605;
&#1576;&#1590;&#1585;&#1608;&#1585;&#1577; &#1575;&#1604;&#1575;&#1578;&#1589;&#1575;&#1604;
&#1576;&#1575;&#1604;&#1585;&#1602;&#1605;
&#1575;&#1604;&#1578;&#1575;&#1604;&#1610;:</span></p>

<p class=MsoNormal align=center style='text-align:center;line-height:normal'><b><span
lang=FR style='font-size:18.0pt;color:red'>06 </span></b><span dir=RTL></span><b><span
lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:"Times New Roman",serif;
color:red'><span dir=RTL></span>61</span></b><span dir=LTR></span><b><span
lang=AR-MA style='font-size:18.0pt;color:red'><span dir=LTR></span> </span></b><span
dir=RTL></span><b><span lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:
"Times New Roman",serif;color:red'><span dir=RTL></span>72</span></b><span
dir=LTR></span><b><span lang=AR-MA style='font-size:18.0pt;color:red'><span
dir=LTR></span> </span></b><span dir=RTL></span><b><span lang=AR-MA dir=RTL
style='font-size:18.0pt;font-family:"Times New Roman",serif;color:red'><span
dir=RTL></span>02</span></b><span dir=LTR></span><b><span lang=AR-MA
style='font-size:18.0pt;color:red'><span dir=LTR></span> </span></b><span
dir=RTL></span><b><span lang=AR-MA dir=RTL style='font-size:18.0pt;font-family:
"Times New Roman",serif;color:red'><span dir=RTL></span>11</span></b><span
dir=LTR></span><b><span lang=FR style='font-size:18.0pt;color:red'><span
dir=LTR></span>    </span></b></p>

<p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span lang=AR-MA style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&#1604;&#1578;&#1572;&#1584;&#1608;&#1575;
&#1605;&#1576;&#1604;&#1594; &#1575;&#1604;&#1583;&#1610;&#1606;
&#1575;&#1604;&#1605;&#1584;&#1603;&#1608;&#1585;
&#1571;&#1593;&#1604;&#1575;&#1607; &#1601;&#1608;&#1585;
&#1578;&#1608;&#1589;&#1604;&#1603;&#1605; &#1576;&#1607;&#1584;&#1575;
&#1575;&#1604;&#1573;&#1606;&#1584;&#1575;&#1585;. </span></p>

<p class=MsoNormal dir=RTL style='text-align:justify;direction:rtl;unicode-bidi:
embed'><span lang=AR-MA style='font-size:14.0pt;line-height:115%;font-family:
"Times New Roman",serif'>&#1608;&#1607;&#1584;&#1575;&#1548;
&#1608;&#1601;&#1610; &#1581;&#1575;&#1604;&#1577; &#1593;&#1583;&#1605;
&#1575;&#1587;&#1578;&#1580;&#1575;&#1576;&#1578;&#1603;&#1605;&#1548; &#1587;&#1578;&#1581;&#1605;&#1604;&#1608;&#1606;
&#1575;&#1604;&#1578;&#1576;&#1593;&#1575;&#1578;
&#1608;&#1575;&#1604;&#1606;&#1578;&#1575;&#1574;&#1580;
&#1575;&#1604;&#1606;&#1575;&#1580;&#1605;&#1577; &#1593;&#1606;
&#1578;&#1606;&#1601;&#1610;&#1584; &#1575;&#1604;&#1581;&#1603;&#1605;.</span><span
dir=LTR></span><span lang=AR-MA dir=LTR style='font-size:14.0pt;line-height:
115%'><span dir=LTR></span> </span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1601;&#1610;
&#1581;&#1575;&#1604;&#1577; &#1578;&#1587;&#1608;&#1610;&#1577;
&#1608;&#1590;&#1593;&#1610;&#1578;&#1603;&#1605; &#1573;&#1586;&#1575;&#1569;
&#1605;&#1608;&#1603;&#1604;&#1578;&#1606;&#1575;&#1548;
&#1606;&#1604;&#1578;&#1605;&#1587; &#1605;&#1606;&#1603;&#1605; </span><span
lang=tzm-Arab-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1571;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>&#1606;
&#1578;&#1608;&#1575;&#1601;&#1608;&#1606;&#1575; &#1576;&#1608;&#1589;&#1604; &#1575;&#1604;&#1571;&#1583;&#1575;&#1569;.
</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1578;&#1602;&#1576;&#1604;&#1608;&#1575;
&#1587;&#1610;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1600;&#1583;&#1610;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> (</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1578;&#1610;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'>)</span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1548;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1571;&#1587;&#1605;&#1609;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1593;&#1576;&#1575;&#1585;&#1575;&#1578;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1575;&#1604;&#1578;&#1602;&#1583;&#1610;&#1585;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt'> </span><span lang=AR-MA dir=RTL
style='font-size:14.0pt;font-family:"Arial",sans-serif'>&#1608;&#1575;&#1604;&#1575;&#1581;&#1578;&#1585;&#1575;&#1605;</span><span
lang=AR-MA dir=RTL style='font-size:14.0pt;font-family:"Times New Roman",serif'>.</span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
style='position:absolute;z-index:-1895822336;left:0px;margin-left:15px;
margin-top:436px;width:173px;height:180px'><img width=115 height=120
src="courrier%20SOFAC_fichiers/image003.png"></span></p>

<p class=MsoNormal align=right style='text-align:right;line-height:normal'><span
lang=FR style='font-size:14.0pt'>&nbsp;</span></p>

</div>

</body>

</html>
